.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 auto;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transition: 0.4s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 30px;
  }



@media (min-width: 449px) and (max-width: 1366px){
  .react-switch-label {
    width: 2.77rem;
    height: 1.38rem;
    border-radius: 5.55rem;
  }

  .react-switch-label .react-switch-button {
    top: 0.11rem;
    left: 0.11rem;
    width: 1.11rem;
    height: 1.11rem;
    border-radius: 1.11rem;
    box-shadow: 0 0 0.11rem 0 rgba(10, 10, 10, 0.29);
  }

  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 0.11rem);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 1.66rem;
  }
}

